:root {
  color: #232742;
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  background: #f4f5fb;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  background: #f5f5f7;
  color: #232742;
}

button,
input,
textarea,
select {
  font: inherit;
}
