PORT=8787
CACMU_BASE_URL=https://apis.cacmu.fin.ec/WSIVRCacmu/api
CACMU_API_KEY=REEMPLAZAR_CON_TU_KEY
JWT_SECRET=REEMPLAZAR_CON_UN_SECRETO_LARGO
MYSQL_HOST=172.19.1.78
MYSQL_PORT=3306
MYSQL_DATABASE=cck_dev
MYSQL_USER=REEMPLAZAR_USUARIO_MYSQL
MYSQL_PASSWORD=REEMPLAZAR_PASSWORD_MYSQL
